.form {
  --flow-space: 0.5em;

  max-width: 16rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.form__input {
  padding: 0.25rem;
  font-size: 0.875rem;
  width: 100%;
}

.form__submit {
  width: 100%;
  padding: 0.25rem;
  cursor: pointer;
}

.form__error {
  color: crimson;
  font-size: 0.875rem;
}
